openapi: 3.0.3
info:
  title: Core API
  description: This is a core server.
  contact:
    name: Core Support
    url: https://github.com/seanflannery10/
    email: seanflannery10@gmail.com
  version: 0.1.0
servers:
  - url: //api.seanflannery.dev/v1
paths:
  /messages:
    get:
      tags:
        - messages
      summary: get user messages
      operationId: get-user-messages
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: pagination
    post:
      tags:
        - messages
      summary: create new message
      operationId: create-message
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageBody'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: message

  /messages/{id}:
    get:
      tags:
        - messages
      summary: get a message
      operationId: get-message
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: id
    put:
      tags:
        - messages
      summary: update a message
      operationId: update-message
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: updated message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageBody'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: message
    delete:
      tags:
        - messages
      summary: delete a message
      operationId: delete-message
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBody'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: id

  /tokens/access:
    post:
      tags:
        - tokens
      summary: create access token using a refresh token
      operationId: create-token-access
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tokens/activation:
    post:
      tags:
        - tokens
      summary: create activation token using an email address
      operationId: create-token-activation
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenActivationBody'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: message

  /tokens/password-reset:
    post:
      tags:
        - tokens
      summary: create password reset token using an email address
      operationId: create-token-password-reset
      responses:
        201:
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tokens/refresh:
    post:
      tags:
        - tokens
      summary: create refresh token using an email address and password
      operationId: create-token-refresh
      responses:
        201:
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TokenResponse'
        400:
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users/activate:
    patch:
      tags:
        - users
      summary: activate new inactivate account using a token
      operationId: activate-user
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateUserBody'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: message

  /users/register:
    post:
      tags:
        - users
      summary: create new user account
      operationId: create-user
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserBody'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: message

  /users/update-password:
    patch:
      tags:
        - users
      summary: update user password using a token
      operationId: update-user-password
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPasswordBody'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBody'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codegen-request-body-name: message

components:
  schemas:
    ActivateUserBody:
      type: object
      properties:
        token:
          type: string
    CreateTokenActivationBody:
      type: object
      properties:
        email:
          type: string
    CreateUserBody:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        password:
          type: string
    MessageBody:
      type: object
      properties:
        message:
          type: string
    UpdateUserPasswordBody:
      type: object
      properties:
        password:
          type: string
        token:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        errors:
          type: object
          additionalProperties:
            type: string
        message:
          type: string
    MessageResponse:
      type: object
      properties:
        created_at:
          type: string
        id:
          type: integer
        message:
          type: string
        user_id:
          type: integer
        version:
          type: integer
    MessagesResponse: # TODO Make it list of messages
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/MessageResponse'
        metadata:
          $ref: '#/components/schemas/PaginationMetadata'
    TokenResponse:
      type: object
      properties:
        expiry:
          type: string
        hash:
          type: string
          format: base64
        plaintext:
          type: string
        scope:
          type: string
        userID:
          type: integer
    UserResponse:
      type: object
      properties:
        activated:
          type: boolean
        created_at:
          type: string
        email:
          type: string
        id:
          type: integer
        name:
          type: string
        password_hash:
          type: string
          format: base64
        version:
          type: integer

    PaginationMetadata:
      type: object
      properties:
        current_page:
          type: integer
        first_page:
          type: integer
        last_page:
          type: integer
        page_size:
          type: integer
        total_records:
          type: integer
