openapi: 3.0.3
info:
  title: Core API
  description: This is a core server.
  contact:
    name: Core Support
    url: https://github.com/seanflannery10/
    email: seanflannery10@gmail.com
  version: 0.1.0
servers:
  - url: //api.seanflannery.dev/v1
paths:
  /messages:
    get:
      tags:
        - messages
      summary: get user messages
      operationId: get-user-messages
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages.messagesResponsePayload'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: pagination
    post:
      tags:
        - messages
      summary: create new message
      operationId: create-message
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages.createMessageHandlerPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data.Message'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: message
  /messages/{id}:
    get:
      tags:
        - messages
      summary: get a message
      operationId: get-message
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data.Message'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: id
    put:
      tags:
        - messages
      summary: update a message
      operationId: update-message
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: updated message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages.updateMessagePayload'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data.Message'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: message
    delete:
      tags:
        - messages
      summary: delete a message
      operationId: delete-message
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.StringResponsePayload'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: id
  /tokens/access:
    post:
      tags:
        - messages
      summary: create access token using a refresh token
      operationId: create-token-access
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data.TokenFull'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
  /tokens/activation:
    post:
      tags:
        - messages
      summary: create activation token using an email address
      operationId: create-token-activation
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tokens.createTokenActivationPayload'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data.TokenFull'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: message
  /tokens/password-reset:
    post:
      responses:
        201:
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/data.TokenFull'
        400:
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
  /tokens/refresh:
    post:
      responses:
        201:
          description: Created
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/data.TokenFull'
        400:
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        401:
          description: Unauthorized
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
  /users/activate:
    patch:
      tags:
        - messages
      summary: activate new inactivate account using a token
      operationId: activate-user
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users.activateUserPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data.User'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: message
  /users/register:
    post:
      tags:
        - messages
      summary: create new user account
      operationId: create-user
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users.createUserPayload'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data.User'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: message
  /users/update-password:
    patch:
      tags:
        - messages
      summary: update user password using a token
      operationId: update-user-password
      requestBody:
        description: new message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users.updateUserPasswordPayload'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responses.StringResponsePayload'
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        422:
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errs.ErrResponse'
      x-codegen-request-body-name: message
components:
  schemas:
    data.Message:
      type: object
      properties:
        created_at:
          type: string
        id:
          type: integer
        message:
          type: string
        user_id:
          type: integer
        version:
          type: integer
    data.TokenFull:
      type: object
      properties:
        expiry:
          type: string
        hash:
          type: string
          format: base64
        plaintext:
          type: string
        scope:
          type: string
        userID:
          type: integer
    data.User:
      type: object
      properties:
        activated:
          type: boolean
        created_at:
          type: string
        email:
          type: string
        id:
          type: integer
        name:
          type: string
        password_hash:
          type: string
          format: base64
        version:
          type: integer
    errs.ErrResponse:
      type: object
      properties:
        error:
          type: string
        errors:
          type: object
          additionalProperties:
            type: string
        message:
          type: string
    messages.createMessageHandlerPayload:
      type: object
      properties:
        message:
          type: string
    messages.deleteMessagePayload:
      type: object
    messages.getMessagePayload:
      type: object
    messages.getMessagesUserPayload:
      type: object
    messages.messagesResponsePayload:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/data.Message'
        metadata:
          $ref: '#/components/schemas/pagination.Metadata'
    messages.updateMessagePayload:
      type: object
      properties:
        message:
          type: string
    pagination.Metadata:
      type: object
      properties:
        current_page:
          type: integer
        first_page:
          type: integer
        last_page:
          type: integer
        page_size:
          type: integer
        total_records:
          type: integer
    responses.StringResponsePayload:
      type: object
      properties:
        message:
          type: string
    tokens.createTokenActivationPayload:
      type: object
      properties:
        email:
          type: string
    users.activateUserPayload:
      type: object
      properties:
        token:
          type: string
    users.createUserPayload:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        password:
          type: string
    users.updateUserPasswordPayload:
      type: object
      properties:
        password:
          type: string
        token:
          type: string
