{
    "swagger": "2.0",
    "info": {
        "description": "This is a core server.",
        "title": "Core API",
        "contact": {
            "name": "Core Support",
            "url": "github.com/seanflannery10/",
            "email": "seanflannery10@gmail.com"
        },
        "version": "0.1.0"
    },
    "host": "api.seanflannery.dev",
    "basePath": "/v1",
    "paths": {
        "/messages": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "get user messages",
                "operationId": "get-user-messages",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/messages.messagesResponsePayload"
                        }
                    }
                }
            },
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "create new message",
                "operationId": "create-message",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.Message"
                        }
                    }
                }
            }
        },
        "/messages/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "summary": "get a message",
                "operationId": "get-message",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.Message"
                        }
                    }
                }
            },
            "put": {
                "produces": [
                    "application/json"
                ],
                "summary": "update a message",
                "operationId": "update-message",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.Message"
                        }
                    }
                }
            },
            "delete": {
                "produces": [
                    "application/json"
                ],
                "summary": "delete a message",
                "operationId": "delete-message",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.StringResponsePayload"
                        }
                    }
                }
            }
        },
        "/tokens/access": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "create access token using a refresh token",
                "operationId": "create-token-access",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.TokenFull"
                        }
                    }
                }
            }
        },
        "/tokens/activation": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "create activation token using an email address",
                "operationId": "create-token-activation",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.TokenFull"
                        }
                    }
                }
            }
        },
        "/tokens/password-reset": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "create password reset token using an email address",
                "operationId": "create-token-password-reset",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.TokenFull"
                        }
                    }
                }
            }
        },
        "/tokens/refresh": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "create refresh token using an email address",
                "operationId": "create-token-refresh",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.TokenFull"
                        }
                    }
                }
            }
        },
        "/users/activate": {
            "patch": {
                "produces": [
                    "application/json"
                ],
                "summary": "activate new inactivate account using a token",
                "operationId": "activate-user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.User"
                        }
                    }
                }
            }
        },
        "/users/register": {
            "post": {
                "produces": [
                    "application/json"
                ],
                "summary": "create new user account",
                "operationId": "create-user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/data.User"
                        }
                    }
                }
            }
        },
        "/users/update-password": {
            "patch": {
                "produces": [
                    "application/json"
                ],
                "summary": "update user password using a token",
                "operationId": "update-user-password",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/responses.StringResponsePayload"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "data.Message": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                },
                "user_id": {
                    "type": "integer"
                },
                "version": {
                    "type": "integer"
                }
            }
        },
        "data.TokenFull": {
            "type": "object",
            "properties": {
                "expiry": {
                    "type": "string"
                },
                "hash": {
                    "type": "string",
                    "format": "base64"
                },
                "plaintext": {
                    "type": "string"
                },
                "scope": {
                    "type": "string"
                },
                "userID": {
                    "type": "integer"
                }
            }
        },
        "data.User": {
            "type": "object",
            "properties": {
                "activated": {
                    "type": "boolean"
                },
                "created_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "password_hash": {
                    "type": "string",
                    "format": "base64"
                },
                "version": {
                    "type": "integer"
                }
            }
        },
        "messages.messagesResponsePayload": {
            "type": "object",
            "properties": {
                "messages": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/data.Message"
                    }
                },
                "metadata": {
                    "$ref": "#/definitions/pagination.Metadata"
                }
            }
        },
        "pagination.Metadata": {
            "type": "object",
            "properties": {
                "current_page": {
                    "type": "integer"
                },
                "first_page": {
                    "type": "integer"
                },
                "last_page": {
                    "type": "integer"
                },
                "page_size": {
                    "type": "integer"
                },
                "total_records": {
                    "type": "integer"
                }
            }
        },
        "responses.StringResponsePayload": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        }
    }
}